agents/classes
agents/compiled
agents/jars
agents/out
agents/agents.jar
evaluation/results_grave
evaluation/results_time_sensitivity
evaluation/results_v4
ppo/logs/
ppo/__pycache__
training/logs
training/results